.step0__features {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.step0__features-heading {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-direction: column;

    text-align: center;

    margin-right: 5rem;
}

.step0__features-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    padding-bottom: 2rem;
}

.step0__features-heading-buttons{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    
}



.step0__features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);

    margin-top: 2rem;
}

.step0__features-heading img {
    width: 100%;
}

.step0__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1300px) {
    .step0__features {
        flex-direction: column;
    }

    .step0__features-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .step0__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}