.step0__blogpage{
    padding: 6rem 15%;
}

.step0__blogpage-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
    padding-bottom: 1rem;
}

.step0__blogpage-container{
    max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
@media (min-width: 600px) {
    .step0__blogpage-container { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
    .step0__blogpage-container { grid-template-columns: repeat(3, 1fr); }
  }