.step0__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.step0__navbar-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step0__navbar-links_logo{
    margin-right: 2rem;
}

.step0__navbar-links_logo img{
    width: 80px;
    height: 80px;
}

.step0__navbar-links_container{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.step0__navbar-contact{
    display: flex;
    flex-direction: flex-end;
    align-items: center;
}

.step0__navbar-links_container li,
.step0__navbar-contact p,
.step0__navbar-menu_container li{
    list-style-type:none;
    display: inline-block;
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.step0__navbar-contact button,
.step0__navbar-menu_container button{
    padding: 1rem 1.5rem;
    color: white;
    background: #D83F87;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    border-radius: 8px;
    border: 0;
    outline: none;
    cursor: pointer;
}
.step0__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.step0__navbar-menu svg {
    cursor: pointer;
}

.step0__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.step0__navbar-menu_container li {
    margin: 1rem 0;
}

.step0__navbar-menu_container-links-contact {
    display: none;
}

@media screen and (max-width: 1050px) {
    .step0__navbar-links_container {
        display: none;
    }

    .step0__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .step0__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .step0__navbar {
        padding: 2rem;
    }

    .step0__navbar-contact {
        display: none;
    }

    .step0__navbar-menu_container {
        top: 20px;
    }

    .step0__navbar-menu_container-links-contact {
        display: block;
    }
}